
.dukan-header{
    &.w-full{
        position: fixed;
        top: 0px;
        // .container{
        //     max-width: 1600px !important
        // }
    }
   
    z-index: 99999;
}
.dukan-header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
    flex-wrap: wrap;
}
.dukan-nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    li a{
        color: #fff;
        text-decoration: none;
        padding: 10px;
       
    }
}
.btn-explore-app{
        padding: 15px 50px;
    background-color: #000;
    color: #fff;
    border: none;
    height: 48px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
}
.logo a{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
     font-weight: 700;
}

.bg-color {
    background: #212121;
}

.welcome-user {
    background:#114dff1f;
    font-weight: 300;
    padding: 6px 12px;
    border-radius: 6px;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(/images/gradient-bg.svg);
    background-size: cover;
}
.cart-icon {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

  svg {
    transition: transform 0.2s ease;
  }

  &:hover svg {
    transform: scale(1.1);
  }

  .cart-badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    line-height: 1;
  }
}


@media (max-width:992px) {
    .bg-color {
    background: #212121cf;
   .welcome-user {
    display: none;
}
.dukan-nav-list{
    display: none;
}
}
}