.details-products{
    padding: 2rem;
    margin: 5% auto;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
.product{
    min-height: 400px;
    border: 1px solid #e2e2e2;
    min-width: 500px;
    padding: 30px;
    border-radius: 6px;
    height: 500px;
    width: 500px;
    .prod-img{
         height: 100%;
    width: 100%;
    img{
        // object-fit: cover;
    }
    }
}
span{
    font-weight: bold;
    color: #007bff;
    margin: 0.5rem 0;
}
.details-products {
  .right {
    width: 50%;
  }

  .left {
     width: 50%;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    span {
      display: block;
    
      font-weight: bold;
    }

    p {
      color: #555;
      margin-bottom: 20px;
    }
  }
}
.add-to-cart-btn {
  display: flex;
  align-items: center;
  background-color: #111;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.2s ease;

  &:hover {
    background-color: #333;
  }

  svg {
    color: #fff;
  }
}
