.products-page {
  padding: 2rem;
margin: 5% auto;
  .products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .search-input {
      padding: 0.6rem 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      width: 250px;
      outline: none;
      transition: 0.3s;

      &:focus {
        border-color: #007bff;
      }
    }
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.8rem;

    .product-card {
         background: #fff;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    min-width: 300px;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      }

      .product-image {
       
        height: 225px;
        border-radius: 8px;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
      }

      .category {
        font-size: 0.9rem;
        color: #777;
      }

      .price {
        font-weight: bold;
        color: #007bff;
        margin: 0.5rem 0;
      }

      .stock {
        font-size: 0.9rem;
        color: #555;
      }

     
    }
  }
}
