.dukan-dar-footer {
    background-color: #111;
    padding-block: 100px;

    @media (max-width: 992px) {
        padding-block: 60px;
    }

    @media (max-width: 576px) {
        padding: 40px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.footer-container {
    max-width: 1180px;
    margin: 0 auto;
    padding-block: 100px;

    @media (max-width: 992px) {
        padding-block: 60px;
        padding-inline: 20px;
    }

    @media (max-width: 576px) {
        padding-block: 40px;
        padding-inline: 15px;
    }
}

.foorer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: 992px) {
        flex-direction: column;
        gap: 30px;
    }

    @media (max-width: 576px) {
        gap: 20px;
    }
}

.footer-logo h2 a {
    color: #fff;
    font-size: 30px;
    line-height: 42px;
    font-weight: 500;
    text-decoration: none;

    @media (max-width: 992px) {
        font-size: 26px;
        line-height: 36px;
    }

    @media (max-width: 576px) {
        font-size: 22px;
        line-height: 32px;
    }
}

.foorer-flex h3 {
    color: #fff;
    font-weight: 400;
    opacity: 0.5;
    margin-bottom: 30px;

    @media (max-width: 992px) {
        font-size: 18px;
        margin-bottom: 25px;
    }

    @media (max-width: 576px) {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

.dukan-menu li,
.dukan-services li {
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;

    a {
        color: #fff;
        text-decoration: none;
    }

    @media (max-width: 992px) {
        font-size: 14px;
        margin-bottom: 15px;
    }

    @media (max-width: 576px) {
        font-size: 13px;
        margin-bottom: 12px;
    }
}

.reach-dukan ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    li {
        width: 48px;
        height: 48px;
        background-color: rgba(255, 255, 255, 0.07);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 25px;
            fill: #fff;

            @media (max-width: 576px) {
                width: 20px;
            }
        }

        @media (max-width: 576px) {
            width: 40px;
            height: 40px;
        }
    }
}
