.commitments {
    background-color: #111;
    padding: 80px 0;

    @media (max-width: 992px) {
        padding: 60px 20px;
    }

    @media (max-width: 576px) {
        padding: 40px 15px;
    }
}

.dukan-dar-commitments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media (max-width: 992px) {
        flex-direction: column;
        gap: 40px;
    }
}

.commitment-attachment {
    flex: 0 0 570px;
    height: 580px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;

        @media (max-width: 992px) {
            height: 450px;
        }

        @media (max-width: 576px) {
            height: auto;
        }
    }

    @media (max-width: 992px) {
        flex: 1 1 100%;
    }
}

.our-commitments {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            color: #fff;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 32px;

            @media (max-width: 992px) {
                font-size: 15px;
                line-height: 28px;
            }

            @media (max-width: 576px) {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    @media (max-width: 992px) {
        flex: 1 1 100%;
        text-align: center;
    }
}
