.commitments{
    background-color: #111;
}
.dukan-dar-commitments {
    display: flex;
    justify-content: space-between;
}

.commitment-attachment {
    flex: 0 0 570px;
    height: 580px;
    img{
        width:100%;
        height:100%;
        object-fit:contain;
    }
}

.our-commitments {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul{
        list-style-type: none;
        li{
            color: #fff;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 32px;
        }
    }
}