* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Epilogue", sans-serif;
  scroll-behavior: smooth;
}

.d-flex {
  display: flex;
}

.gap-30 {
  gap: 30px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  &.increase-max-width {
    max-width: 1800px;
  }
}

.gradient-bg {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("/images/gradient-bg.svg");
  background-size: cover;
}


img {
  height: 100% !important;
  width: 100%;
  object-fit: contain;
}

.error {
  color: #ff0000;
  font-size: 14px;
}

.logout {
  color: #fff;
  cursor: pointer;
  background-color: #353535;
  padding-inline: 15px;
  border-radius: 10px;
}

.btn {
  margin-top: 0.7rem;
  padding: 0.5rem 1rem;
  background: #212121;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s linear;

  &.controller {

    &:not(.prev, .next) {
      background-color: #ccc;
    }
  }

  &:hover {
    background-color: #000;
  }
}

.active {
  background: #000;
  color: #fff;
}

.checkout-container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.add-to-cart {
  --background-default: #17171B;
  --background-hover: #0A0A0C;
  --background-scale: 1;
  --text-color: #fff;
  --text-o: 1;
  --text-x: 12px;
  --cart: #fff;
  --cart-x: -48px;
  --cart-y: 0px;
  --cart-rotate: 0deg;
  --cart-scale: .75;
  --cart-clip: 0px;
  --cart-clip-x: 0px;
  --cart-tick-offset: 10px;
  --cart-tick-color: #FF328B;
  --shirt-y: -16px;
  --shirt-scale: 0;
  --shirt-color: #17171B;
  --shirt-logo: #fff;
  --shirt-second-y: 24px;
  --shirt-second-color: #fff;
  --shirt-second-logo: #17171B;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  background: none;
  border: none;
  padding: 5px 0;
  max-width: 164px;
  width: 100%;
  margin: 0;
  cursor: pointer;
  position: relative;
  font-family: inherit;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    transition: background .25s;
    background: var(--background, var(--background-default));
    transform: scaleX(var(--background-scale)) translateZ(0);
  }

  &:not(.active) {
    &:hover {
      --background: var(--background-hover);
    }
  }

  span {
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-color);
    opacity: var(--text-o);
    transform: translateX(var(--text-x)) translateZ(0);
  }

  svg {
    display: block;
    width: var(--svg-width, 24px);
    height: var(--svg-height, 24px);
    position: var(--svg-position, relative);
    left: var(--svg-left, 0);
    top: var(--svg-top, 0);
    stroke-linecap: round;
    stroke-linejoin: round;

    path {
      /* fill: var(--svg-fill, none); */
      stroke: var(--svg-stroke, none);
      stroke-width: var(--svg-stroke-width, 2);
    }
  }

  .morph {
    --svg-width: 64px;
    --svg-height: 13px;
    --svg-left: 50%;
    --svg-top: -12px;
    --svg-position: absolute;
    --svg-fill: var(--background, var(--background-default));
    transition: fill .25s;
    pointer-events: none;
    margin-left: -32px;
  }

  .shirt,
  .cart {
    pointer-events: none;
    position: absolute;
    left: 50%;
  }

  .shirt {
    margin: -12px 0 0 -12px;
    top: 0;
    transform-origin: 50% 100%;
    transform: translateY(var(--shirt-y)) scale(var(--shirt-scale));

    svg {
      --svg-fill: var(--shirt-color);

      g {
        --svg-fill: var(--svg-g-fill, var(--shirt-logo));
      }

      &.second {
        --svg-fill: var(--shirt-second-color);
        --svg-g-fill: var(--shirt-second-logo);
        --svg-position: absolute;
        clip-path: polygon(0 var(--shirt-second-y), 24px var(--shirt-second-y), 24px 24px, 0 24px);
      }
    }
  }

  .cart {
    --svg-width: 35px;
    --svg-height: 35px;
    --svg-stroke: var(--cart);
    top: 6px;
    margin-left: -20px;
    transform: translate(var(--cart-x), var(--cart-y)) rotate(var(--cart-rotate)) scale(var(--cart-scale)) translateZ(0);

    &:before {
      content: '';
      display: block;
      width: 22px;
      height: 12px;
      position: absolute;
      left: 7px;
      top: 7px;
      background: var(--cart);
      clip-path: polygon(0 0, 22px 0, calc(22px - var(--cart-clip-x)) var(--cart-clip), var(--cart-clip-x) var(--cart-clip));
    }

    path {
      &.wheel {
        --svg-stroke-width: 1.5;
      }

      &.tick {
        --svg-stroke: var(--cart-tick-color);
        stroke-dasharray: 10px;
        stroke-dashoffset: var(--cart-tick-offset);
      }
    }
  }
}

.white,
.dark {
  /* width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.cart-icon {
  color: #fff !important;
}