.dukan-banner-inner {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 50px 0 60px 0;
    align-items: center;
}
.dukan-overview {
    flex: 0 0 526px;
}

.dukan-overview{
    .heading-about {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff7f;
        letter-spacing: 3px;
        line-height: 32px;
        padding: 0px 0px 20px 0px;
        opacity: 100%;
    }
    h1{
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    }
    .summary{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    line-height: 32px;
    padding: 0px 0px 30px 0px;
    }
} 
.dukan-cover-image{
    height: 570px;
    flex: 0 0 570px;
        box-shadow: 0px 5px 20px 0px #00000033;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.btn-start-free{
        padding: 15px 50px;
    background-color: #000;
    color: #fff;
    border: none;
    height: 48px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
}