.dukan-banner-inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 60px 0;

    @media (max-width: 992px) {
        flex-direction: column;
        padding: 40px 20px 50px 20px;
        gap: 30px;
    }

    @media (max-width: 576px) {
        padding: 30px 15px 40px 15px;
        gap: 20px;
    }
}

.dukan-overview {
    flex: 0 0 526px;

    @media (max-width: 992px) {
        flex: 1 1 100%;
        text-align: center;
    }

    .heading-about {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff7f;
        letter-spacing: 3px;
        line-height: 32px;
        padding-bottom: 20px;
        opacity: 100%;

        @media (max-width: 576px) {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 2px;
        }
    }

    h1 {
        font-size: 72px;
        line-height: 80px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 30px;

        @media (max-width: 992px) {
            font-size: 56px;
            line-height: 64px;
        }

        @media (max-width: 576px) {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 20px;
        }
    }

    .summary {
        font-size: 20px;
        font-weight: 400;
        color: #ffffff;
        line-height: 32px;
        padding-bottom: 30px;

        @media (max-width: 992px) {
            font-size: 18px;
            line-height: 28px;
            padding-bottom: 25px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 20px;
        }
    }
}

.dukan-cover-image {
    height: 570px;
    flex: 0 0 570px;
    box-shadow: 0px 5px 20px 0px #00000033;
    border-radius: 10px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 992px) {
        flex: 1 1 100%;
        height: 450px;
    }

    @media (max-width: 576px) {
        height: 300px;
    }
}

.btn-start-free {
    padding: 15px 50px;
    background-color: #000;
    color: #fff;
    border: none;
    height: 48px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;

    @media (max-width: 992px) {
        padding: 12px 40px;
        font-size: 13px;
    }

    @media (max-width: 576px) {
        padding: 10px 30px;
        font-size: 12px;
        width: 100%;
    }
}
